variable.env
firebase/serviceAccountKey.json
__pycache__/
*.pyc
.venv/
venv/
.DS_Store
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/flutter_build/a9ab1cb03da0960dc65c7e514c5280dd/.filecache
